.navbar {
    background-color: #142850;
    position: fixed;
    top: 0;
    width: 100%;
}
.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 300px;
        width: 100%;
        &--link {
            font-weight: 550;
            font-family: "Heebo";
            font-size: 20px;
            color: #ffffff;
        }
        &--link:hover {
            color: #e52121;
            transition: all 0.5s ease;
        }
    }
    &__logo {
        font-size: 40px;
        font-weight: bold;
        font-family: "Heebo";
        color: #e52121;
    }
    &__burger {
        &--line {
            width: 30px;
            height: 5px;
            margin-bottom: 5px;
            display: none;
        }
    }
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 140px;
    &__right {
        &--title {
            max-width: 500px;
            font-family: "Heebo";
            font-weight: 700;
            font-size: 44px;
            line-height: 60px;
            color: #21243d;
            margin: {
                bottom: 40px;
            }
        }
        &--text {
            max-width: 497px;
            font-family: "Heebo";
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: #21243d;
            margin-bottom: 40px;
        }
        &--btn {
            border: none;
            font-family: "Heebo";
            font-weight: 500;
            font-size: 20px;
            color: #ffffff;
            max-width: 208px;
            width: 100%;
            height: 47px;
            background: #ff6464;
            border-radius: 2px;
            margin-bottom: 80px;
        }
        &--btn:hover {
            background-color: #aa3636;
            cursor: pointer;
            transition: all 0.5s ease;
        }
    }
}

@media screen and (max-width: 992px) {
    .hero {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        &__right {
            text-align: center;
            &--title {
                margin-bottom: 10px;
            }
            &--text {
                margin-bottom: 20px;
            }
            &--btn {
                margin-bottom: 40px;
            }
        }
    }
}
@media screen and (max-width: 576px) {
    .container {
        padding: 0;
    }
    .nav__logo {
        margin-left: 20px;
    }
    .nav__burger {
        position: absolute;
        top: 25px;
        right: 20px;
    }
    .nav__burger--line {
        display: block;
        transition: all 0.5s ease;
    }
    .nav__menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 40px;
        position: absolute;
        top: 80px;
        right: 0;
        width: 80%;
        height: 340px;
        background-color: #142850;
        transform: translateY(-150%);
        transition: all 1s ease;
        &--link {
            font-size: 30px;
        }
    }
    .active__menu {
        transform: translateY(0);
        transition: all 0.5s ease;
    }
    .close__burger .nav__burger--line1 {
        transform: rotate(-45deg) translate(-7px, 9px);
    }
    .close__burger .nav__burger--line2 {
        opacity: 0;
    }
    .close__burger .nav__burger--line3 {
        transform: rotate(45deg) translate(-7px, -5px);
    }
    .hero {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        &__right--title {
            font-size: 38px;
        }
    }
}
