@import url(../container.scss);
.navbar{
    background-color: #142850;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 300px;
        width: 100%;
        &--link {
            font-weight: 550;
            font-family: "Heebo";
            font-size: 20px;
            color: #ffffff;
        }
        &--link:hover {
            color: #e52121;
            transition: all 0.5s ease;
        }
    }
    &__logo {
        font-size: 40px;
        font-weight: bold;
        font-family: "Heebo";
        color: #e52121;
    }
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 140px;
    &__right {
        &--title {
            width: 500px;
            font-family: "Heebo";
            font-weight: 700;
            font-size: 44px;
            line-height: 60px;
            color: #21243d;
            margin: {
                bottom: 40px;
            }
        }
        &--text {
            width: 497px;
            font-family: "Heebo";
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #21243d;
            margin-bottom: 40px;
        }
        &--btn {
            border: none;
            font-family: "Heebo";
            font-weight: 500;
            font-size: 20px;
            color: #ffffff;
            width: 208px;
            height: 47px;
            background: #ff6464;
            border-radius: 2px;
            margin-bottom: 80px;
        }
        &--btn:hover{
            background-color: #aa3636;
            cursor: pointer;
            transition: all 0.5s ease;
        }
    }
}

