@import url(../container.scss);
.section {
    background-color: #edf7fa;
    width: 100%;
    height: 400px;
    padding: 25px 0;
    margin-bottom: 20px;
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        &--title {
            font-family: "Heebo";
            font-weight: 400;
            font-size: 22px;
            color: #21243d;
        }
        &--link {
            font-family: "Heebo";
            font-weight: 400;
            font-size: 16px;
            color: #00a8cc;
        }
    }
    &__cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--card1 {
            width: 418px;
            height: 275px;
            background: #ffffff;
            box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
            border-radius: 4px;
            padding: 24px;
        }
        &--title {
            width: 374px;
            font-family: "Heebo";
            font-weight: 700;
            font-size: 26px;
            line-height: 38px;
            color: #21243d;
            margin-bottom: 18px;
        }
        &--date,
        &--span {
            font-family: "Heebo";
            font-weight: 400;
            font-size: 18px;
            color: #21243d;
        }
        &--date {
            border-right: 1px solid #21243d;
            padding-right: 25px;
        }
        &--span {
            margin-left: 30px;
        }
        &--text {
            width: 368px;
            font-family: "Heebo";
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #21243d;
            margin-top: 15px;
        }
    }
}
.article {
    &__title {
        font-family: "Heebo";
        font-weight: 400;
        font-size: 22px;
        margin-bottom: 25px;
        color: #21243d;
    }
    &__cards {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &--card1 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            width: 100%;
            border-bottom: 1px solid #E0E0E0;
            padding-bottom: 15px;
            &--title {
                max-width: 305px;
                font-family: "Heebo";
                font-weight: 700;
                font-size: 30px;
                color: #21243d;
                margin-bottom: 20px;
            }
            &--year {
                padding: 3px 10px;
                background: #142850;
                border-radius: 16px;
                font-weight: 900;
                font-size: 18px;
                color: #ffffff;
                margin-right: 35px;
            }
            &--spn {
                font-family: "Heebo";
                font-weight: 400;
                font-size: 20px;
                color: #8695a4;
            }
            &--text {
                width: 500px;
                margin-top: 20px;
                font-family: "Heebo";
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #21243d;
            }
        }
        &--img{
            max-width: 400px;
            height: 250px;
            width: 100%;
        }
    }
}

.footer{
    background-color: #142850;
    width: 100%;
    height: 185px;
    margin-top: 30px;
    padding-top: 20px;
    text-align: center;
    &__logo{
        font-size: 40px;
        font-weight: bold;
        font-family: "Heebo";
        color: #f8f5f5;
    }
    &__logo:hover{
        color: #e52121;
        transition: all 0.5s;
    }
    &__social{
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        &--icon{
            background-color: #fff;
            border-radius: 10px;
            padding: 5px;
        }
        &--icon:hover{
            background-color: #858181;
            transition: all 0.5s ease;
        }
    }
    &__email{
        font-size: 25px;
        font-weight: bold;
        color: #fcfbfb;
        letter-spacing: 1px;
    }
    &__email:hover{
        color: #e52121;
        transition: all 0.5s;
    }
}
