*,
::after,
::before {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body {
    background-color: #ffffff;
}
.container {
    max-width: 1000px !important;
    width: 100%;
    margin: 0 auto;
}